extends layout
block main
 template(is="auto-binding")
  core-drawer-panel(forceNarrow,id="drawerPanel")
   core-header-panel(drawer,mode="waterfall",class="menu")
    core-toolbar(class="toolbar")
     span Menu
    core-menu(class="menu")
     core-item(icon="settings",label="Paramètres")
     core-item(id="help",icon="help",label="Aide",onclick="toggleDialog('help')")
   core-header-panel(main,mode="waterfall")
    core-toolbar(class="toolbar")
     paper-icon-button(id="navicon",icon="menu",onclick="toggleHeaderPanel()")
     span(flex) Jarvis
     paper-icon-button(icon="{{favorite?'star':'star-outline'}}",on-tap="{{toggleFavorite}}")
     template(if="{{$.pages.selected != 0}}")
      paper-icon-button(icon="arrow-back",on-tap="{{back}}")
    div(class="content)
     core-animated-pages(id="pages",flex selected="0",on-core-animated-pages-transition-end="{{transitionend}}",transitions="cross-fade-all hero-transition")
      div(id="container",flex,horizontal,wrap,layout,hero-p)
       template(repeat="{{category in items}}")
        div(class="tile",style="background-color: {{category.secondcolor}};",vertical,center-justified,layout,hero-id="item-{{category.level}}",hero?="{{$.pages.selected === category.level +1 || lastSelected === category.level + 1}",on-tap="{{selectView}}")
         img(src="{{category.photo}}")
      template(repeat="{{category in items}}")
       section(vertical,layout,style="display: block")
        div(style="background-color: {{category.maincolor}};",class="view",flex,horizontal,wrap,center-justified,layout,hero-id="item-{{category.level}}",hero?="{{$.pages.selected === category.level + 1 || $.pages.selected === 0}}")
         template(repeat="{{device in devices}}")
          template(if="{{contain(category.jeedomcategory,device.category)}}")
           template(if="{{hasManyCmds(device.cmds)}}")
            template(if="{{(favorite && device.display.parameters.favorite === 'true') || (!favorite)}}")
             domo-device(code="{{category.code}}{{device.id}}",bgc="{{category.secondcolor}}",nav="{{device.display.parameters.nav}}")
              img(src="{{device.display.parameters.photo}}",width="48px",height="48px")
              actions
               core-collapse(id="collapse{{category.code}}{{device.id}}")
                template(repeat="{{control in device.cmds}}")
                 template(if="{{control.isVisible === '1'}}")
                  template(if="{{control.display.forceReturnLineBefore === '1'}}")
                   div(layout,horizontal,center-justified)
                  template(if="{{control.display.parameters.style === 'imgbutton'}}")
                   paper-fab(class="image",src="{{control.display.parameters.icon}}",onclick="sendURL('/api/jeedom/cmd/{{control.id}}')")
                  template(if="{{control.display.parameters.style === 'button'}}")
                   paper-fab(icon="{{control.display.parameters.icon}}",onclick="sendURL('/api/jeedom/cmd/{{control.id}}')")
                  template(if="{{control.display.parameters.style === 'slide'}}")
                   paper-fab(icon="{{control.display.parameters.icon}}",onclick="sendURL('/api/jeedom/cmd/{{control.id}}/slide/'+document.getElementById('ratings{{category.code}}{{device.id}}{{control.id}}').value)")
                   section(class="slider")
                    paper-slider(id="ratings{{category.code}}{{device.id}}{{control.id}}",pin,snaps,min="0",max="{{control.configuration.maxValue}}",step="2",value="0")
                  template(if="{{control.display.forceReturnLineAfter === '1'}}")
                   div(layout,horizontal,center-justified)
              label(flex) {{device.name}}
           template(if="{{!hasManyCmds(device.cmds)}}")
            template(if="{{(favorite && device.display.parameters.favorite === 'true') || (!favorite)}}")
             domo-device-light(code="{{category.code}}{{device.id}}",bgc="{{category.secondcolor}}",nav="{{device.display.parameters.nav}}")
              img(src="{{device.display.parameters.photo}}",width="48px",height="48px")
              actions
               template(repeat="{{control in device.cmds}}")
                template(if="{{control.isVisible === '1'}}")
                 template(if="{{control.display.parameters.style === 'button'}}")
                  paper-fab(icon="{{control.display.parameters.icon}}",mini,onclick="sendURL('/api/jeedom/cmd/{{control.id}}')")
                  //core-icon-button(icon="{{control.display.parameters.icon}}",onclick="sendURL('/api/jeedom/cmd/{{control.id}}')")
              label(flex) {{device.name}}
            
   paper-dialog(id="helpdialog",heading="Aide",transition="help",layered="true")
    div(layout,vertical,wrap)
     core-item(icon="menu",label="Menu")
     core-item(icon="settings-power",label="Allumer")
     core-item(icon="radio-button-off",label="Eteindre")
     core-item(icon="hardware:tv",label="Son PS3 vers ampli")
     core-item(icon="image:panorama-horizontal",label="Son télévision vers ampli")
     core-item(icon="reply",label="Retour")
     core-item(icon="done",label="Valider")
     core-item(icon="communication:message",label="Activer les sous-titres")
     core-item(icon="communication:messenger",label="Désactiver les sous-titres")
    paper-icon-button(icon="close",affirmative) 
  
   paper-dialog(id="navdialog",transition="nav",layered="true")
    div(vertical,center,layout,wrap)
     paper-fab(icon="expand-less",onclick="sendURL('/api/jeedom/cmd/171')",style="margin-right: 0.5em;margin-top: 0.5em; margin-bottom: 0.5em; background-color: DodgerBlue")
     div(horizontal,center,layout,wrap)
      paper-fab(icon="chevron-left",onclick="sendURL('/api/jeedom/cmd/172')",style="margin-right: 0.5em;margin-top: 0.5em; margin-bottom: 0.5em; background-color: DodgerBlue")
      paper-fab(icon="done",onclick="sendURL('/api/jeedom/cmd/173')",style="margin-right: 0.5em;margin-top: 0.5em; margin-bottom: 0.5em; background-color: DodgerBlue")
      paper-fab(icon="chevron-right",onclick="sendURL('/api/jeedom/cmd/174')",style="margin-right: 0.5em;margin-top: 0.5em; margin-bottom: 0.5em; background-color: DodgerBlue")
     paper-fab(icon="expand-more",onclick="sendURL('/api/jeedom/cmd/175')",style="margin-right: 0.5em;margin-top: 0.5em; margin-bottom: 0.5em; background-color: DodgerBlue")
     div(horizontal,around-justified,layout,wrap)
      paper-fab(mini,icon="reply",onclick="sendURL('/api/jeedom/cmd/181')",style="margin-right: 0.5em;margin-top: 0.5em; margin-bottom: 0.5em; background-color: DodgerBlue")
      paper-fab(hidden)
      paper-fab(mini,icon="home",onclick="sendURL('/api/jeedom/cmd/163')",style="margin-right: 0.5em;margin-top: 0.5em; margin-bottom: 0.5em; background-color: DodgerBlue")
      paper-fab(hidden)
      paper-fab(mini,icon="menu",onclick="sendURL('/api/jeedom/cmd/222')",style="margin-right: 0.5em;margin-top: 0.5em; margin-bottom: 0.5em; background-color: DodgerBlue")
    paper-icon-button(icon="close",affirmative) 
   
   script.
      function sendURL(url) {
         //alert(url);
         $.get(url,function(data,status) {
         });
      }
      
      function toggleHeaderPanel() {
        var drawerPanel = document.getElementById('drawerPanel');
        drawerPanel.togglePanel();
      }
     
      function toggleDialog(transition) {
        var dialog = document.querySelector('paper-dialog[transition=' + transition + ']');
        dialog.toggle();
      }
  
      addEventListener('template-bound', function(e) {
       var scope = e.target;
       var items = [];
       var devices = [];

       //var ratings = document.querySelector('#ratings');
  
        for (var cat in !{categories}) {
           items.push(!{categories}[cat]);
        }
        scope.items = items;
        
        for (var dev in !{devices}) {
           devices.push(!{devices}[dev]);
        }
        scope.devices = devices;
  
        scope.contain = function(value,array) {
           //var b = $.inArray(value, array);
           //return b != -1;
           //alert(array["light"]);
           return array[value] === "1";
        }
        
        scope.hasManyCmds = function(array) {
           //var b = $.inArray(value, array);
           //return b != -1;
           var nb=0;
           for (i=0; i<array.length; i++) {
               if (array[i].isVisible==="1") {
                  nb=nb+1;
               }
           }
           return nb > 2;
        }

        scope.selectView = function(e) {
          var cat = e.target.templateInstance.model.category;
          this.$.pages.selected = cat.level;
          var help = document.getElementById('help');
          help.show();
        }
  
        scope.back = function() {
          this.lastSelected = this.$.pages.selected;
          //if (this.lastSelected === 0) toggleDialog('help')
          this.$.pages.selected = 0;
        }
  
        scope.toggleFavorite = function() {
          if (scope.favorite) {
           scope.favorite = false;
          } else {
           scope.favorite = true;
          }
        }

        scope.transitionend = function() {
          if (this.lastSelected) {
            this.lastSelected = null;
          }
          var help = document.getElementById('help');
          help.hide();
        }
      })
